
.card1 {
    width: 300px;
    height: 255px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #3498db, #e74c3c);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card1 img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
}

.card1:hover img {
    transform: translateY(-100%);
}

.card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.card1:hover .card__content {
    opacity: 1;
}

.educ_title {
    text-align: center;
    margin-top: 5px;
}

.card__title {
    font-size: larger;
}

.section-title {
    margin: 7% 45% 10px 40%;
    font-size: 34px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    color: #3d2d4d;
    background-clip: text;
}

.card__title {
    margin: 0;
    font-size: 25px;
    color: #4b1a21;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 18px;
    color: #0b070f;
    line-height: 1.4;
    font-weight: bold;
}

@media (min-width: 768px) {
    .card1 {
        display: inline-block;
        margin: 5%;
    }
}

@media (max-width:768px){
    .card1{
        margin: 15% auto;
    }
}

@media (max-width:500px) {
    .section-title {
        margin: 15% 33% 5%;
    }
}